.Header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.Header-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 80px;
}

.Header-title {
    font-size: 1.5em;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}