@import "../variables";

.author-container {
  height: $author-container-height;

  .avatar {
    height: $author-container-height;
    width: $author-container-height;
    border-radius: 50%;
  }
  
  #author-info {
    display: inline-block;
    span {
      display: block;
    }
  }
}

.author-preview-container {
  width: $author-preview-container-width;
  overflow: auto;

  .link {
    text-decoration: none;

    .avatar {
      float: left;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .username {
      display: block;
    }
  }

}