@import "../variables";

.author-container {
  width: $author-container-width;
  overflow: auto;

  .avatar {
    float: left;
    width: 100px;
    height: 100px;
  }
  .username {
    display: block;
  }
}