.post {
    width: 75%;
    max-width: 1000px;
    margin: auto;
}

.post .content-container {
    width: 100%;
    word-break: break-all;
    overflow-wrap: break-word;
}

.post .content-container .content {
    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
    font-family: 'IBM Plex Sans', sans-serif;
}