@import "../variables";

@media screen and (max-width: 600px) {
  .link {
    text-decoration: none;
    color: black;
    .post-preview {
      display: flex;

      .left {
        position: absolute;
        margin-bottom: 0.5em;
        .author-container {
          display: none;
        }
      }
      .right {
        margin-top: 1em;
        overflow: hidden;
        .content {
        }
      }
    }
  }
}

.link {
  text-decoration: none;
  color: black;
  .post-preview {
    padding: 0.5em;
    align-items: stretch;
    vertical-align: middle;
    -ms-box-orient: vertical;
    display: -ms-flex;
    height: 100%;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    .left {
      float: left;
      width: $author-container-width;
      height: 100%;
      .post-title {
        margin: 0;
      }
    }
    .right {
      overflow: hidden;
    }
  }
}
